button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
}

button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%) scale(1.2);
}

button:active {
  transform: translate(-50%, -50%) scale(1);
}
