* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}

h1 {
  background-color: rgb(25, 25, 25);
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 1em 1em;
}

button {
  background: #bdbdbd;
  border: none;
  border-radius: 10px;
  padding: 1em 1em;
  transition: all 0.5s;
}

button:hover {
  background: #7b7b7b;
  cursor: pointer;
}
